.login{
    display: grid;
    place-items: center;
    height: 100vh;
    justify-content: center;
}

.login > button {
    width: 300px;
    background-color: #3ea4fb;
    color: #eff2f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: lightgray;
    color: #3ea4fb;
}