.message{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    margin: 15px;
}

.message > p {
    background-color: #FFFFFF;
    font-size:medium;
    padding: 13px 20px;
    border-radius: 10px;
    margin: 10px;
    margin-right: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 700px;
}

.message > small {
    color: gray;
    font-size: 8px;
    position: absolute;
    bottom: -5px;
    right: 0px;
}

.message__sender{
    margin-left: auto;
}

.message__sender > .message__image {
    order: 1;
    margin: 15px;
}

.message__image {
    order: 0;
}

.message__sender > p{
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    color: white;
}

@media only screen and (max-width: 768px) {
    .message > p {
        max-width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .message > p {
        max-width: 250px;
    }
}